body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1, p {
    color: white;
}

img {
    height: 22vh;
    width: 200px;
}

.left-nav {
    height: 100vh;
    margin: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: url("woodpicture.jpeg");
    background-size: cover;

}

.left-nav div {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
}

.bg-img {
    background-image: url("restaurant-bg.jpg");
    width: 75vw;
    height: 100vh;
    background-size: cover;
    display: grid;
}

.menu-right-Div {
    width: 75vw;
    height: 100vh;
    display: grid;
    background-color: #C8AE7D;

}

.bg-img div {
    margin: 20px;
    align-self: center;
    display: grid;

}

.bg-img div p {
    justify-self: center;
    text-align: center;

}

.call-today-div {
    border: black 1px solid;
    background-color: green;
    color: white;
    padding: 20px;
}

.call-today-div:hover {
    background-color: #90EE90;
}

.helper-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    gap: 10px;
}

.helper-content div {
    margin: 0px;

}

.helper-content-children {
    color: white;
    display: grid;
    align-items: start;
}

.helper-content-children p, .helper-content-children h1 {
    margin: 0;
}